.Nav{
    width: 100%;
    background-color: var(--secondary-background);
    height: 80px;
    position: relative;
    top: 0;
    font-family: quicksand, poppins, verdana;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.Nav h1{
    font-size: 2.5em;
}


.ProfileCard{
    width: max-content;
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ProfileCard label{
    font-family: 'Poppins', 'Quicksand', verdana;
    font-size: 1.3em;
    margin-left: 15px;
}


.Logout, .Settings{
    width: max-content;
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.Settings{
    right: 140px;
}