.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto Slab, poppins;
  color: var(--text-color);
}

.header h1{
  font-size: 5rem;
  text-decoration: underline;
}

.header p{
  font-size: 2rem;
}

.Nav{
  width: 100vw;
  background-color: hsl(0, 0%, 30%);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav button{
  padding: 12px 18px;
  border: none;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  margin: 20px;
  font-size: 1rem;
  font-family: 'Poppins', 'Quicksand', verdana;
}

.Nav h2{
  color: #fff;
  font-family: 'Roboto Slab', 'Quicksand', verdana;
  margin: 20px;
  font-size: 2rem;
}

.Main{
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.NewsArticle{
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  width: 500px;
  height: auto;
  max-height: 500px;
  margin: 50px;
  border-radius: var(--border-radius);
  outline: 2px solid rgb(167, 97, 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Poppins', 'Quicksand', verdana
}

.NewsArticle h2{
  font-family: 'Quicksand', 'Poppins', verdana;
  text-decoration: underline;
}

.NewsArticle img{
  width: 100%;
  height: 180px;
}