.Month{
    width: 100vw;
    max-height: 80vh;
    position: relative;
    background-color: #fff;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    border: 2px solid;
    overflow-y: auto;
}

.Day, .WeekDay{
    min-width: 200px;
    min-height: 200px;
    border: 1px solid;
    padding: 20px;
    font-family: poppins, verdana;
    flex: 1;
    position: relative;
    &:hover{
        border: 1px solid var(--secondary-background);
    }
}
.WeekDay{
    min-height: 76vh;
    position: relative;
}
.Day label{
    font-size: 1.4rem;
}

.MonthSlider{
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-background);
    padding: 10px;
    font-family: quicksand, verdana;
    font-size: 1.6rem;
    align-items: center;
}

.MonthSlider button, .MonthSlider select{
    border: none;
    padding: 12px 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MonthSlider .setCurrent{
    position: absolute;
    color: rgb(32, 32, 248);
    left: 57%;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.MonthSlider select{
    position: absolute;
    left: 8%;
}
.MonthSlider button:last-child{
    position: absolute;
    right: 8%;
}
.Day .Week{
    flex-wrap: nowrap;
}

.plannerAdd{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 300px;
    justify-content: center;
    background-color: var(--secondary-background);
    padding: 50px;
    color: #fff;
    font-family: 'Quicksand', 'Poppins', verdana;
    border-radius: 20px;
}

.plannerAdd h2{
    text-align: center;
    font-size: 2.6rem;
}

.plannerAdd label{
    width: 100%;
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
    margin: 5px;
}

.plannerAdd input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid;
    font-family: 'Poppins', 'Quicksand', verdana;
    font-size: 1.3rem;
    margin: 5px;
    &:focus{
        border: none;
        border-bottom: 2px solid;
        outline: none;
    }
}

.plannerAdd textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    font-family: 'Poppins', 'Quicksand', verdana;
    font-size: 1.3rem;
    resize: none;
    &:focus{
        outline: none;
    }
}

.plannerAdd button{
    width: 100%;
    font-family: 'Poppins', 'Quicksand', verdana;
    font-size: 1.3rem;
    border: none;
    padding: 8px 12px;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
}